# Fichiers générés par Django
*.pyc
*.pyo
__pycache__/

# Fichier de configuration local
local_settings.py

# Fichiers de sauvegarde
*.bak
*.swp

# Fichier de base de données SQLite
db.sqlite3

# Dossier de fichiers statiques collectés (si vous utilisez collectstatic)
staticfiles/

# Dossier de médias téléchargés (si vous utilisez Media Storage)
media/

# Environnement virtuel (si vous utilisez virtualenv ou venv)
venv/
env/

# Fichiers d'environnement
.env

# Fichiers de log
log/

# Dossiers spécifiques à votre IDE ou éditeur de code
.idea/
.vscode/